/*
상속제어하기
1. initial : 자식요소가 부모요소의 상속을 받고싶지 않고 초기값으로 되돌리고 싶을 때 사용
*/
div {
  border: 1px solid gray;
  margin: 2px;
}
/*상속 -> 부모에게 스타일을 적용하면 자식에게 상속되어 같은 스타일이 적용됨.
그러나 모든 스타일이 상속되는 것은 아님 아래같이 color는 상속되지만 상속되지 않는 것들도 있다는 것 알아두기!!
 */
.parent {
  color: blue;
}
.child2 {
  all: initial;
}
