@charset "utf-8";

@import url("http://fonts.googleapis.com/css?family=Khula:700");
body {
  background: #111111;
}
.hidden {
  opacity: 0;
}
.console-container {
  /*코드 순서 : 박스모델을 만드는 것 ->마지막은 디자인적인 요소를 추가한다.*/
  width: 600px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-family: khula, sans-serif;
  font-size: 4em; /*상위 요소 기준*/
  text-align: center;
  color: white;
}
.console-underscare {
  display: inline-block;
  position: relative;
  top: -0, 14em; /*부모와 비슷하게 크기 조절하기 위해 em으로쓴다.*/
  left: 10px;
}
