.contatiner {
  width: 400px;
  height: 600px;
  border: 1px solid black;
  font-size: 0px; /*font-size는 상속됨. 따라서 하위 자식들에게 적용되어 html에서 넣은 공백들을 모두 없애주고 붙게된다.*/
  color: white;
  font-weight: bold;
}
p {
  margin: 0px;
}
.top {
  background-color: red;
  width: 400px;
  height: 200px;
  font-size: 16px;
}
.left {
  background-color: blue;
  width: 200px;
  height: 200px;
  display: inline-block;
  font-size: 16px;
  vertical-align: top /*수직정렬*/;
}
.right {
  background-color: green;
  width: 200px;
  height: 200px;
  display: inline-block;
}
.bottom {
  background-color: purple;
  width: 400px;
  height: 200px;
  font-size: 16px;
}
