.contatiner {
  width: 400px;
  height: 600px;
  border: 1px solid black;
  font-size: 0px;
  color: white;
  font-weight: bold;
}
p {
  margin: 0px;
}
.top {
  background-color: red;
  width: 400px;
  height: 200px;
}
.left {
  background-color: blue;
  width: 200px;
  height: 200px;
  float: left;
}
.right {
  background-color: green;
  width: 200px;
  height: 200px;
  float: left;
}
.bottom {
  /*이것은 bottom이 float으로 인해 위로 올라가는 것은 방지하기 위한 코드
  clear : 취소하다
  -none : clear설정하지 않음.
  -left : 왼쪽 취소
  -right : 오른쪽 취소
  -both : 오른쪽 왼쪽 취소*/
  clear: both;
  background-color: purple;
  width: 400px;
  height: 200px;
}
