/* ---------------------------------------------- */
/* 헤더                                            */
/* ---------------------------------------------- */
body {
  width: 1920px;
  height: 1024px;
  margin: 0 auto;
}
/* .header__inner {
  width: 1920px;
  margin: 0 auto;
} */
.button_category {
  display: flex;
  width: 110px;
  height: 116px;
  padding: 30px 32px 29.878px 33px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
  background: var(--blue-600, #0074e9);
  border: none;
}
.button_category span {
  /* width: 45px; */
  height: 14.122px;
  flex-shrink: 0;

  color: var(--grayscale-white-white, #fff);

  /* Text/Regular/12 */
  font-family: Noto Sans;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 14.4px */
}
/* ---------------------------------------------- */
/* 내비게이션                                        */
/* ---------------------------------------------- */
.navigation {
  /* display: flex; */
  width: 1020px;
  height: 520px;
  padding: 0px 480px 20px 0px;
  align-items: center;
  flex-shrink: 0;
  /* border: 1px solid lightgray; */
}
.navigation__inner {
  height: 520px;
  position: relative;
}
.navigation__list {
  display: inline-block;
  width: 180px;
  height: 500px;
  flex-shrink: 0;
  background: var(--grayscale-white-white, #fff);
  border: 1px solid lightgray;
  padding: 0;
  position: absolute;
  z-index: 1;
}
.navigation__list a {
  display: block;
}
/* .navigation__list>li, .menu1>li, menu2>li{
  position: relative;
} */
ul li {
  list-style: none;
  display: flex;
  width: 170px;
  height: 30px;
  padding: 1px 0px 1px 20px;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
}
.menu1 {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  /* width: 180px;
  height: 500px;
  flex-shrink: 0;
  background: var(--grayscale-white-white, #FFF);
  border: 1px solid lightgray;
  position: absolute;
  top: 0px;
  left: 0px; */

  /* display: none; */
  /* position: absolute; */
  /* z-index:2; */
}
.menu2 {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 5;
  /* width: 180px;
  height: 500px;
  flex-shrink: 0;
  background: var(--grayscale-white-white, #FFF);
  border: 1px solid lightgray;
  position: absolute;
  top: 0px;
  left: 0px; */
  /* display: none; */
  /* z-index: 3; */
}
.navigation__list > li a:hover {
  color: skyblue;
  display: block;
}
.navigation__list > li:hover .menu1 {
  width: 180px;
  height: 500px;
  flex-shrink: 0;
  background: var(--grayscale-white-white, #fff);
  border: 1px solid lightgray;
  position: absolute;
  top: -1px;
  /*left: 0px; */
  left: 180px;
}
.menu1 > li:hover .menu2 {
  left: 180px;
  width: 180px;
  height: 500px;
  flex-shrink: 0;
  background: var(--grayscale-white-white, #fff);
  border: 1px solid lightgray;
  position: absolute;
  top: -2px;
  /*left: 0px; */
}
.menu1 > li a:hover {
  display: block;
  color: skyblue;
}
.menu2 > li a:hover {
  display: block;
  color: skyblue;
}

/* ---------------------------------------------- */
/* 메인 콘텐츠                                       */
/* ---------------------------------------------- */
/* 메인 콘텐츠 영역의 최소 높이 설정 */
.main {
  min-height: 52rem;
}
svg {
  /* margin-top: 50px; */
}
/* ---------------------------------------------- */
/* 푸터                                            */
/* ---------------------------------------------- */
.footer {
  display: flex;
  width: 1920px;
  height: 40px;
  /* padding: 3px 457px 2px 457px; */
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: var(--gray-200, #e7e7e7);
}
.footer-bar span {
  padding: 5px 14px 6px 14px;
  border-right: 1px solid #4e4e4e;

  color: var(--gray-800, #4e4e4e);
  text-align: center;

  /* Text/Regular/12 */
  font-family: Noto Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 14.4px */
}
.footer-middle {
  display: flex;
  width: 1920px;
  height: 207px;
  padding: 32px 360px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
