/*
<형제선택자>
1. 일반형제 선택자 결합(~)
형식 : 선택자1~선택자2{}
선택자1은 선택자2보다 html에서 더 위쪽에 위치해야한다.
선택자1뒤에 오는 선택자2 모두선택
어떤 요소가 특정요소 뒤에있을때 사용
*/
code ~ p {
  color: red;
}
/*2. 인접 형제 선택자 결합(+)
형식 : 선택자1+선택자2{}
선택자1뒤에 바로뒤에 선택자2가 있는 경우 선택.
*/
.red + div {
  background-color: blue;
}
/*3. 그룹화(,)

여러개를 한꺼번에 동일한 스타일 적용하고싶을 때 사용용*/
p,
span {
  color: purple;
}
