/*
before
가상콘텐츠를 선택한 셀렉터 앞에 추가
after
가상 콘텐츠를 선택한 셀럭터 뒤에 추가
*/
/*
가상클래스선택자 
selector:_____
상대에 따라 실제존재하지 않은 상태에 이름을 붙여줌
가상요소 선택자
selector::_____
실제로 존재하지 않은 요소를 만들거나 범위를 만들어서 css를 적용한다
*/

.favorite::before {
  /*여기서 만든 콘텐츠는 진짜 텍스트 콘텐츠가 아니라 가상요소이기때문에 드래그 이런것 안된다. */
  content: "*";
  color: indianred;
}
.movie::after {
  content: "^^";
  color: aqua;
}
