/*
mixin

*/
.btn-1 {
  padding: 10px 20px;
  cursor: pointer;
  background-color: inherit;
  border: 1px solid lightgray;
  border-radius: 14px;
  font-weight: bold;
  border: 1px solid black;
  color: black;
}

.btn-2 {
  padding: 10px 20px;
  cursor: pointer;
  background-color: inherit;
  border: 1px solid lightgray;
  border-radius: 14px;
  font-weight: bold;
  border: 1px solid blue;
  color: blue;
}
