.container {
  width: 400px;
  height: 600px;
  border: 1px solid black;
  color: white;
  font-weight: bold;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "top top"
    "left right"
    "bottom bottom";
}
.top {
  background-color: red;
  width: 400px;
  height: 200px;
  grid-area: top;
}
.left {
  background-color: blue;
  width: 200px;
  height: 200px;
  grid-area: left;
}
.right {
  background: green;
  width: 200px;
  height: 200px;
  grid-area: right;
}
.bottom {
  background: purple;
  width: 400px;
  height: 200px;
  grid-area: bottom;
}
